<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.interhorse.springboot.mybatisdruidmysql.dao.mapper.PeopleXmlMapper">
    <resultMap id="BaseResultMap" type="cn.interhorse.springboot.mybatisdruidmysql.entity.People">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
    </resultMap>

    <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select id, name, age
        from people
        where id = #{id}
    </select>

    <insert id="insert" parameterType="cn.interhorse.springboot.mybatisdruidmysql.entity.People">
        insert into people(name, age) values(#{name}, #{age})
    </insert>


    <update id="updateById" parameterType="cn.interhorse.springboot.mybatisdruidmysql.entity.People">
        update people set name = #{name}, age = #{age} where id = #{id}
    </update>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from people where id = #{id}
    </delete>
</mapper>